    <!--导航结束-->
    </div><link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/styles/css/ui-dialog.css" />
    <link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/styles/css/mem_home.css" />
    <link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/styles/css/member.css" />
    <link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/styles/css/order.css" />
    <link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/css/flowchart.css" />
    <link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/css/table-th-minwidth.css">
    <link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/styles/css/zTreeStyle.css" />
    <link rel="stylesheet" type="text/css" href="http://staticcdn2b.cmcmall.cn/store/resources/static/css/popup.css" />
    <div class="main cf" style="float: right;">
            <dl class="mem_menu fl">
                <dt>订单管理</dt>
                <dd>
                    <ul>
                        <li ><a href="./order-list.html">我的订单</a></li>
                    </ul>
                </dd>
                <dt>个人中心</dt>
                <dd>
                    <ul>
                        <li ><a href="./user-center.html">基本资料</a></li>
                        <li ><a href="./user-center-update.html">修改个人信息</a></li>
                        <li class="current"><a href="./user-pass-update.html">修改密码</a></li>
                        <li  ><a href="./order-confirm.html">收货地址管理</a></li>
                    </ul>
                </dd>
                <dt>站内消息</dt>
                <dd>
                    <ul>
                        <li ><a  href="/center/message/message.jhtml">消息列表</a></li>
                        <li ><a   href="/center/message/privateMessage.jhtml">私信</a></li>
                        <li ><a href="/center/message/toReleasePrivateMessagesList.jhtml">发信</a></li>
                    </ul>
                </dd>
            </dl>>    
        <div class="mem_menu fl">
        <link type="text/css" rel="stylesheet" href="http://staticcdn2b.cmcmall.cn/store/resources/static/css/sign.css" />       